<main>
  <header>
    <h1 class="new-user-header">New Business</h1>
  </header>
  <section> 
    <article class="new-user-form"> 
      <%= form_for(@business) do |f| %>
        <div class="field">
          <%= f.text_field :owners_first_name, :placeholder => "Owner's First Name", :autocomplete => :off %>
        </div>

        <div class="field">
          <%= f.text_field :owners_last_name, :placeholder => "Owner's Last Name", :autocomplete => :off %>
        </div>
        <div class="field">
          <%= f.text_field :business_name, :placeholder => "Business Name", :autocomplete => :off %>
        </div>

        <div class="field">
          <%= f.text_field :phone, :placeholder => "Phone Number", :autocomplete => :off %>
        </div>

        <div class="field">
          <%= f.text_field :email, :placeholder => "Email", :autocomplete => :off %>
        </div>

        <div class="new-user-bottom">
          <div class="new-user-submit">
            <%= f.submit %>
            <%= link_to 'Cancel', :back %>
          </div>
        </div>
      <% end %>
    </article>
  </section>  
</main>