<script>
localStorage.setItem("businessCustomers", JSON.stringify(<%= raw@customers.to_json %>));
localStorage.setItem("businessUsers", JSON.stringify(<%= raw@employees.to_json %>));
</script>
<header class="business-profile-header user-profile-header template-header">
  <div class="header-wrapper wrapper max">
    <div class="flex justify-content pad-10">
      <div class="header flex justify-content">
        <h1 class="business-header"><%=  @business.business_name %>&nbsp;</h1>
      <%= link_to "<i class='fa fa-gear'></i>".html_safe, controller: "businesses", action: "edit", id: @business.id, remote:true %>
      </div>
      <div class="search-form form desktop">
        <%= form_tag(user_path, :method => 'get', remote: true) do %>
          <%= text_field_tag :search, params[:search], placeholder: 'Enter search term...', class: "search" %>
          <%= button_tag(type: "submit") do %>
            <span><i class='fa fa-search customer'></i></span>
          <% end %>
        <% end %>
      </div>
    </div> 
    <div class="page-options mobile pad-10">
      <div class="options-nav">
        <button class="switch employees-switch active-switch" id="employees-switch">Employees</button>
        <button class="switch customers-switch mobile" id="customers-switch">Customers</button>
      </div>
      <div class="new-link-container">
        <%= link_to "<i class='fa fa-user-plus' aria-hidden='true'></i>".html_safe, {controller: "customers", action: "new", remote: true}, class: "new-customer-link new-link" %>
        <%= link_to "<i class='fa fa-user-plus' aria-hidden='true'></i>".html_safe, {controller: "users", action: "new", remote: true}, class: "new-employee-link new-link active-link" %>
      </div>
    </div>
    <div class="flex desktop">
      <div class="flex-1 flex justify-content wrapper-right pad-10">
        <h2>Employees</h2>
        <div class="settings">
        <%= link_to "<i class='fa fa-user-plus pad-10' aria-hidden='true'></i>".html_safe, controller: "users", action: "new", remote: true %>
        </div>
      </div>
      <div class="flex-1 flex justify-content wrapper-left">
        <h2>Customers</h2>
        <div class="settings">
        <%= link_to "<i class='fa fa-user-plus pad-10' aria-hidden='true'></i>".html_safe, controller: "customers", action: "new", remote: true %>
        </div>
      </div>
    </div>  
  </div>
</header>
<div class="dashboard-wrapper flex flex-1 wrapper-max">
  <div class="col col-left flex-1 wrapper-right">
    <section class="max pool-lists employees-list business-users active-list desktop-block pad-10">
      <%= render :partial => 'users/user-card-list', :locals => { :users => @employees }  %>
    </section>
    <section class="max pool-lists customers-list business-customers mobile-block">
      <%= render :partial => 'customers/customer-card-list', :locals => { :customers => @customers }  %>
    </section>
  </div>
  <div class="col col-right flex-1 desktop wrapper-left">
    <section class=" max pool-lists customers-list business-customers pad-10">
      <%= render :partial => 'customers/customer-card-list', :locals => { :customers => @customers }  %>
    </section>
  </div>
</div>
<aside id="customer-edit-form" class="wrapper form-slider">  
<%= render :partial => 'customers/customer_form', :locals => { :customer => Customer.new }  %>
</aside>
<aside id="repair-form" class="wrapper form-slider">  
<%= render :partial => 'repairs/repair_form', :locals => { :repair=> Repair.new, :customer=> Customer.new }  %>
</aside>
<aside id="visit-form" class="wrapper form-slider">  
<%= render :partial => 'visits/visit_form', :locals => { :visit=> Visit.new, :user=> Customer.new, :customer=> User.new }  %>
</aside>
<aside id="user-form" class="wrapper form-slider">  
  <%= render :partial => 'users/user_form', :locals => { :user => User.new }  %>
</aside>
<aside id="business-form" class="wrapper form-slider">  
  <%= render :partial => 'businesses/business_form', :locals => { :business => Business.new }  %>
</aside>

