<main>
  <header class="biz-header-section">
    <div class="biz-show-grey-overlay"></div>
    <div class="header-filter-container"></div>
    <%= image_tag("Pool-Water.jpg",class: "header-background")  %>
    <article class="biz-header-left">
      <h1 class="business-header"><%=  @business.business_name %></h1>
      <p class="business-sub-header"><%= Date.today.to_s(:long) %></p>
    </article>
    <aside class="biz-options">
      <%= form_tag(controller: "businesses", action: "reset_weekely_visit", remote: true, data: {confirm: "Are your sure? This will reset all routes for the week."} ) do %>
        <%= hidden_field_tag "id", @business.id %>
        <%= submit_tag("Reset All Visits", data: { confirm: 'Are you sure you want to reset all pools' }) %>
      <% end %>
      <% if session[:business_id] %>
        <%= link_to 'Edit', controller: "businesses", action: "edit", id: params[:id] %>
      <% end %>
    </aside>
    <nav class="business-button-section">
      <button id="bix-customer-button" class="active-switch">Customers</button>
      <button id="bix-repair-button">Open Repairs</button>
      <button id="bix-employee-button">Employees</button>
    </nav>
  </header>
  <% if flash[:notice] %>
      <aside class="flash businesses-flash">
        <p class="notice"><%= flash[:notice] %></p>
      </aside>  
    <% end %>
  <section class="business-lists-container">
    <section class="biz-customer-list">
      <header class="biz-show-section-head-flex">
        <h2 class="business-customer-sub-header">Customers: <%= @customers.count %> </h2>
          <%= link_to "+", {:controller => "customers", :action=> "new"}, :method => :get, :class => "biz-new-customer" %>
      </header>
      <article class="business-customers-list">
        <ul>
          <% if @customers.length > 0 %>
            <% @customers.each do |customer| %>
              <li class="customer-instance"><%= link_to customer.display_customer_name_by_last, controller: "customers", action: "show", id: customer.id %></li>
            <% end %>
          <% elsif %> 
            <li class="add-customers-list">No Customers</li>
          <% end %>
        </ul>
      </article>
    </section>
    <section class="business-right-container">
      <article class="business-repairs-section">
        <header>
          <h2 class="business-employees-sub-header">Open Repairs: <%= @repairs.count %></h2>
        </header>
        <article class="business-repair-list">
          <ul>
            <% if @repairs.length > 0 %>
              <% @repairs.each do |repair| %>
                <li class="repair-instance"><%= link_to repair.customer.display_customer_name_by_last, controller: "repairs", action: "show", id: repair.id %></li>
              <% end %>
            <% elsif %> 
              <li class="add-customers-list">No Repairs</li>
            <% end %>
          </ul>
        </article>
      </article>
      <article class="business-employee-section">
        <header class="biz-show-section-head-flex">
          <h2 class="business-employees-sub-header">Employees: <%= @employees.count %></h2>
          <%= link_to "+", {:controller => "users", :action=> "new"}, :method => :get, :class => "biz-new-customer" %>
        </header>
        <article class="business-employee-list">
          <ul>
            <% if @employees.length > 0 %>
              <% @employees.each do |employee| %>
                <li class="employee-instance"><%= link_to employee.display_customer_name_by_last, controller: "users", action: "show", id: employee.id %></li>
              <% end %>
            <% elsif %> 
              <li class="add-customers-list">No Employess</li>
            <% end %>
          </ul>
        </article>
      </article>
    </section>
  </section>
</main>