<main>
  <header class="new-visit-header">
    <div class="header-filter-container"></div>
    <%= image_tag("Pool-Water.jpg",class: "header-background")  %>
    <h1>Complete Visit</h1>
  </header>
  <% if flash[:notice] %>
    <ul>
      <% flash[:notice].each do |message| %>
        <li><%= message%></li>
      <% end %>
    </ul>
  <% end %>
  <article>
    <%= form_for(@visit) do |f| %>
      <%= field_set_tag "Chemistry Readings", class: "new-visit-chemistry" do %>
        <div class="chem-flex">
          <div class="chem-column-left">
            <div class="complete-visit-chem-inputs">
              <%= f.label :chlorine %>
              <%= f.number_field :chlorine, :placeholder => " Level"  %><br>
            </div>
            <div class="complete-visit-chem-inputs">
              <%= f.label :ph %>
              <%= f.number_field :ph, :placeholder => " Level" %><br>
            </div>
            <div class="complete-visit-chem-inputs">
              <%= f.label :alkalinity %>
              <%= f.number_field :alkalinity, :placeholder => " Level"  %>
            </div>
          </div>
          <div class="chem-column-right">
            <div class="complete-visit-chem-inputs">
              <%= f.label :stabilizer %>
              <%= f.number_field :stabilizer, :placeholder => " Level"  %>
            </div>
            <div class="complete-visit-chem-inputs">
              <%= f.label :salt  %>
              <%= f.number_field :salt, :placeholder => " Level"  %>
            </div>
          </div>
        </div>
      <% end %>
      <%= field_set_tag "Duties", class: "new-visit-duties" do %>
        <div class="duties-flex">
          <div class="duties-left">
            <div class="complete-visit-duties-inputs">
              <%= f.label :clean_tile %>
              <%= f.check_box :clean_tile  %><br>
            </div>
            <div class="complete-visit-duties-inputs">
              <%= f.label :leaf_net %>
              <%= f.check_box :leaf_net %><br>
            </div>
            <div class="complete-visit-duties-inputs">
              <%= f.label :vacuum %>
              <%= f.check_box :vacuum %><br>
            </div>
            <div class="complete-visit-duties-inputs">
              <%= f.label :brush %>
              <%= f.check_box :brush %><br>
            </div>
            <div class="complete-visit-duties-inputs">
              <%= f.label :skimmer_basket, "Skimmer" %>
              <%= f.check_box :skimmer_basket %><br>
            </div>
            <div class="complete-visit-duties-inputs">
              <%= f.label :pump_basket %>
              <%= f.check_box :pump_basket %><br>
            </div>
            <div class="complete-visit-duties-inputs">
              <%= f.label :clean_filters %>
              <%= f.check_box :clean_filters %><br>
            </div>
          </div>
          <div class="duties-right">
            <div class="complete-visit-duties-inputs">
              <%= f.label :new_filters %>
              <%= f.check_box :new_filters %><br>
            </div>
            <div class="complete-visit-duties-inputs">
              <%= f.label :add_chlorine, "Chlorine" %>
              <%= f.check_box :add_chlorine %><br>
            </div>
            <div class="complete-visit-duties-inputs">
              <%= f.label :add_acid, "Acid" %>
              <%= f.check_box :add_acid %><br>
            </div>
            <div class="complete-visit-duties-inputs">
              <%= f.label :add_bicarb, "Bicarb" %>
              <%= f.check_box :add_bicarb %><br>
            </div>
            <div class="complete-visit-duties-inputs">
            <%= f.label :add_stabilizer, "Stabilizer" %>
            <%= f.check_box :add_stabilizer %><br>
            </div>
            <div class="complete-visit-duties-inputs">
            <%= f.label :add_chlorine_tab, "Chlorine Tab" %>
            <%= f.check_box :add_chlorine_tab %><br>
            </div>
            <%= f.hidden_field :customer_id, :value => params[:id] %>
          </div>
        </div>
      <% end %>
      <div class="visit-options">
        <%= f.submit 'Complete Visit', :class => 'submit-visit' %>
        <%= link_to 'Cancel', controller: "users", action: "show", id: @customer.user.id %>
      </div>
    <% end %>
  </article>
</main>