<main>
    <header class="visit-show-main-header">
        <div class="header-filter-container"></div>
        <%= image_tag("Pool-Water.jpg",class: "header-background")  %>
        <h1 class="visit-show-header">Visit Details: <%= @visit.customer.full_name %></h1>
        <h2 class="visit-show-date">Date Visited: <%= @visit.eastern_standard_time %>
        <article class="visit-show-links">
            <%= link_to "Back", :back %>
        </article>
    </header>
      <section class="visit-show-details-section">
          <article class="chemistry-article">
            <header>
                <h3 class="show-subheader">Chemistry Readings</h3>
            </header>
            <article class="visit-show-flex">
                <div class="visit-show-col-left">
                    <p> Chlorine Level: <span class="chem-dis"><%= @visit.alkalinity ? @visit.alkalinity : "N/A" %></span></p>
                    <p>PH Level: <span class="chem-dis"><%= @visit.ph ? @visit.ph : "N/A" %></span></p>
                    <p>Alkalinity Level: <span class="chem-dis"><%= @visit.alkalinity ? @visit.alkalinity : "N/A" %></span></p>
                </div>
                <div class="visit-show-col-right">
                    <p>Stabilizer Level: <span class="chem-dis"><%= @visit.stabilizer ? @visit.stabilizer : "N/A" %></span></p>
                    <p>Salt Level: <span class="chem-dis"><%= @visit.salt ? @visit.salt : "N/A"%></span></p>
                    <p>Sericed By: <span class="chem-dis"><%= @visit.user.first_name ? @visit.user.first_name : "N/A" %></span></p>
                </div>
            </article>
          </article>
          <article class="duties-preformed-article-section">
            <header>
                <h3 class="show-subheader">Duties Preformed</h3>
            </header>
            <article class="visit-show-flex">
                <div class="visit-show-col-left">
                    <p>Cleaned Tile: <span class="duty-dis"><%= @visit.clean_tile ? raw("&#10004;") : raw("&#x2716;") %></span></p>
                    <p>Leaf Net: <span class="duty-dis"><%= @visit.leaf_net ? raw("&#10004") : raw("&#x2716;") %></span></p>
                    <p>Vaccum: <span class="duty-dis"><%= @visit.vacuum ? raw("&#10004") : raw("&#x2716;") %></span></p>
                    <p>Brushed: <span class="duty-dis"><%= @visit.brush ? raw("&#10004") : raw("&#x2716;") %></span></p>
                    <p>Skimmer Basket: <span class="duty-dis"><%= @visit.skimmer_basket ? raw("&#10004;") : raw("&#x2716;") %></span></p>
                    <p>Pump Basket: <span class="duty-dis"><%= @visit.pump_basket ? raw("&#10004;") : raw("&#x2716;") %></span></p>
                    <p>Clean Filter: <span class="duty-dis"><%= @visit.clean_filters ? raw("&#10004;") : raw("&#x2716;") %></span></p>
                </div>
                <div class="visit-show-col-right">
                    <p>New Filter: <span class="duty-dis"><%= @visit.new_filters ? raw("&#10004") : raw("&#x2716;") %></span></p>
                    <p>Add Chlonine: <span class="duty-dis"><%= @visit.add_chlorine ? raw("&#10004;") : raw("&#x2716;") %></span></p>
                    <p>Add Acid: <span class="duty-dis"><%= @visit.add_acid ? raw("&#10004") : raw("&#x2716;") %></span></p>
                    <p>Add Bicarb: <span class="duty-dis"><%= @visit.add_bicarb ? raw("&#10004") : raw("&#x2716;") %></span></p>
                    <p>Add Stabilizer: <span class="duty-dis"><%= @visit.add_stabilizer ? raw("&#10004") : raw("&#x2716;") %></span></p>
                    <p>Chlorine Tab: <span class="duty-dis"><%= @visit.add_chlorine_tab ? raw("&#10004") : raw("&#x2716;") %></span></p>
                </div>
            </article>
          </article>
      </section>
</main>
