<main>
	<header>
		<h1>Enter New Password</h1>
	</header>
	<article>
		<%= form_for @user, :url => url_for(:controller => 'users', :action => 'update_password', :id => @user.id)  do |f| %>
		<%= f.label :password, "New Password" %>
		<%= f.text_field :password, :autocomplete => :off %>

		<%= f.label :password, "Confirm Password" %>
		<%= f.text_field :password, :autocomplete => :off %>

		<%= submit_tag 'Reset' %>
		<% end %>
	</article>
</main>