<main>
  <header class="user-profile-header">
    <h1 class="user-show-header"><%= @user.first_name %>'s Profile</h1>
    <%= link_to "Edit", {controller: "users", action: "edit"}, id: session[:user_id], :class => "user-show-edit-button" %>
    <div class="profile-views">
      <a class="switch active-switch" id="map-switch">Map</a>
      <a class="switch" id="master-switch">Master Route</a>
      <a class="switch" id="incomplete-switch">Incomplete Route</a>
      <a class="switch" id="complete-switch">Complete Route</a>
    </div>
  </header>
  <section id="master-sheet">
    <article>
      <table class="user-show-table">
        <thead class="user-show-thead">
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Day</th>
          </tr>
        </thead>
        <tbody class="user-show-tbody">
          <% if @unfinished_route[0] %>
            <% @pools.each do |pool| %>
              <tr>
                <td><%= link_to pool.full_name, customer_path(pool) %></td>
                <td><%= pool.street_address%></td>
                <td><a href="tel:<%= pool.phone %>"><%= pool.phone%></a></td>
                <td class='<%= pool.weekly_complete ? "green" : "red" %>'><%= pool.print_days%></td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td colspan="4">You Have No Current Customers.</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </article>
  </section>
  <section id="unfinished-pools">
    <article>
      <table class="user-show-table">
        <thead class="user-show-thead">
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Number</th>
            <th>Finish</th>
          </tr>
        </thead>
        <tbody class="user-show-tbody">
          <% if @unfinished_route[0] %>
          <% @unfinished_route.each do |customer| %>
            <tr>
              <td><%= link_to customer.full_name, customer_path(customer) %></td>
              <td><%=link_to customer.street_address, controller: "customers", action: "directions", id: customer.id%></td>
              <td><a href="tel:<%= customer.phone %>"><%= customer.phone%></a></td>
              <td><%= link_to "Complete", controller: "visits", action: "new", id: customer.id %></td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="4">No Unfinished Pools on Today's Route.</td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </article>
  </section>
  <section id="finished-pools">
    <article>
      <table class="user-show-table">
        <thead class="user-show-thead">
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Details</th>
          </tr>
        </thead>
        <tbody class="user-show-tbody">
          <% if @finished_route[0] %>
            <% @finished_route.each do |customer| %>
              <tr>
                <td><%= link_to customer.full_name, customer_path(customer) %></td>
                <td><%= customer.street_address%></td>
                <td><a href="tel:<%= customer.phone %>"><%= customer.phone%></a></td>
                <td><%= link_to "Show Visit", controller: "visits", action: "show", id: customer.visits.last.id %></td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td colspan="4">No Pools Completed on Today's Route.</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </article>
  </section>
  <%= render :partial => "user_route_map" %>
</main>