<main>
  <header class="history-header-section">
    <h1 class="history-header"><%= @customer.full_name%>'s History</h1>

    <div class="history-views">
      <a class="repair-switch active-switch" id="history-visit-switch">Visit History</a>
      <a class="repair-switch" id="history-repair-switch">Repair History</a>
      <%= link_to 'Back',{ controller: "customers", action: "show", id: params[:id]}, :class => "history-back-link" %>
    </div>
  </header>
  </header>
  <section id="history-visit-section">
    <table class="history-visit-table">
      <% if @visit_history[0] %>
        <thead class="history-visit-thead">
          <tr>
            <th>Serviced At</th>
            <th>Vacuum</th>
            <th>Filters</th>
            <th>View More</th>
          </tr>
        </thead>
        <tbody class="history-visit-tbody">
          <% @visit_history.each do |visit| %>
            <tr>
              <td><%= visit.eastern_standard_time %></td>
              <td><%= visit.vacuum %></td>
              <td><%= visit.clean_filters %></td>
              <td><%= link_to "Visit", controller: "visits", action: "show", id: visit.id %></td>
            </tr>
          <% end %>
        </tbody>
      <% else %>
        <tr>
        <th>This Customer Has No Visits</th>
        </tr>
      <% end %>
    </table>
  </section>
  <section id="history-repair-section">
    <table class="history-repair-table">
      <% if @repair_history[0] %>
        <thead class="history-repair-thead">
          <tr>
            <th>Serviced At</th>
            <th>Description</th>
            <th>View More</th>
          </tr>
        </thead>
        <tbody class="history-repair-tbody">
          <% @repair_history.each do |repair| %>
            <tr>
              <td><%= repair.eastern_standard_time %></td>
              <td><%= repair.title %></td>
              <td><%= link_to "Repair", controller: "repairs", action: "show", id: repair.id %></td>
            </tr>
          <% end %>
        </tbody>
      <% else%>
        <tr>
          <th>This Customer Has No Repairs</th>
        </tr>
      <% end %>
    </table>
  </section>
</main>