<main>
  <header class="header">
    <div class="header-overlay">
    </div>
    <h3 class="header-text new-customer-header">Create new Customer</h3>
  </header>
  <section>
    <%= form_for(@customer) do |f| %>
      <%= field_set_tag "Customer Info", class: "new-customer-info" do %>
        <div class="new-customer-name">
          <%= f.text_field :first_name, :placeholder => "First Name", :autocomplete => :off %>
          <%= f.text_field :last_name, :placeholder => "Last Name", :autocomplete => :off %>
        </div>
        <div class="new-customer-address">
          <%= f.text_field :street_address, :placeholder => "Street Address", :autocomplete => :off %>
          <%= f.text_field :city, :placeholder => "City", :autocomplete => :off %>
          <%= f.text_field :state, :placeholder => "State", :autocomplete => :off %>
          <%= f.text_field :zip_code, :placeholder => "Zip Code", :autocomplete => :off %>
        </div>
        <div class="new-customer-contact">
          <%= f.text_field :phone, :placeholder => "Phone Number", :autocomplete => :off %>
          <%= f.text_field :email, :placeholder => "Email", :autocomplete => :off %>
          <%= f.text_field :gate_code, :placeholder => "Gate Code", :autocomplete => :off %>
        </div>
      <% end %>
      <%= field_set_tag "Pool Info", class: "new-customer-pool" do %>
        <div class="equipment-type">
          <%= f.text_field :filter_type, :placeholder => "Filter Type", :autocomplete => :off %>
          <%= f.text_field :pump_type, :placeholder => "Pump Type", :autocomplete => :off %>
          <span class="customer-checkbox">
            <%= f.label :receive_emails %>
            <%= f.check_box :receive_emails %>
          </span>
        </div>
        <h2 class="days-header">Service Day</h2>
        <div class="scheduling">
          <div class="scheduling-days">
            <div class="day-input">
              <%= f.label :monday %>
              <%= f.check_box :monday %>
            </div>
            <div class="day-input">
              <%= f.label :tuesday %>
              <%= f.check_box :tuesday %>
            </div>
            <div class="day-input">
              <%= f.label :wednesday %>
              <%= f.check_box :wednesday %>
            </div>
            <div class="day-input">
              <%= f.label :thursday %>
              <%= f.check_box :thursday %>
            </div>
            <div class="day-input">
              <%= f.label :friday %>
              <%= f.check_box :friday %>
            </div>
          </div>
          <% if User.find(session[:user_id]).admin == true %>
            <div class="misc-scheduling">
              <%= f.label :user_id, "Employee" %>
              <%= f.select :user_id, options_for_select(@employees.map{ |employee| [employee.first_name + " " + employee.customers.count.to_s, employee.id] }), :include_blank => "Choose Employee" %>
            </div>
          <% end %>
        </div>
      <% end %>
      <div class="customer-submit">
        <%= f.submit 'Create New Customer', :class => 'customer-new-submit' %>
        <%= link_to 'Cancel', :back %>
      </div>
    <% end %>
  </section>
</main>
