<script>
localStorage.setItem("customer_repairs", JSON.stringify(<%= raw@repairs.to_json %>));
</script>
<header class="user-profile-header template-header">
  <div class="header-wrapper wrapper max">
    <h1><%= @customer.first_name + ' ' + @customer.last_name%></h1>
    <div class="page-options">
      <div class="options-nav">
        
        <a class="switch history-switch active-switch" id="history-switch">History</a>
        <a class="switch details-switch mobile" id="details-switch">Details</a>
        <a class="switch repair-switch" id="repair-switch">Repairs</a>
      </div>
      <div class="search-form form desktop">
        <%= form_tag(user_path, :method => 'get', remote: true) do %>
          <%= text_field_tag :search, params[:search], placeholder: 'Enter search term...', class: "search" %>
          <%= button_tag(type: "submit") do %>
            <span><i class='fa fa-search customer'></i></span>
          <% end %>
        <% end %>
      </div>
      
    </div> 
  </div>
</header>
<div class="dashboard-wrapper flex flex-1 wrapper-max">
  <div class="col col-left flex-2">
    <section class="wrapper-right max pool-lists history-list active-list">
      <%= render :partial => 'visits/visit_card_list', :locals => { :history => @visit_history }  %>
    </section>
    <section class="wrapper-right max pool-lists repairs-list">
      <%= render :partial => 'repairs/repair-card-list', :locals => { :repairs => @repairs }  %>
    </section>
    <section class="wrapper-right max pool-lists details-list mobile">
      <%= render :partial => 'customers/customer_details', :locals => { :customer => @customer }  %>
    </section>
  </div>
  <div class="col col-right flex-1 desktop">
    <section class="wrapper max details-sidebar">
      <%= render :partial => 'customers/customer_sidebar_details', :locals => { :customer => @customer }  %>
      <%= render :partial => 'notes/notes_display', :locals => { :customer => @customer }  %>
    </section>
  </div>
</div>
<aside id="customer-edit-form" class="wrapper form-slider">  
<%= render :partial => 'customers/customer_form', :locals => { :customer => Customer.new }  %>
</aside>
<aside id="repair-form" class="wrapper form-slider">  
<%= render :partial => 'repairs/repair_form', :locals => { :repair=> Repair.new, :customer=> Customer.new }  %>
</aside>
<aside id="visit-form" class="wrapper form-slider">  
<%= render :partial => 'visits/visit_form', :locals => { :visit=> Visit.new, :user=> Customer.new, :customer=> User.new }  %>
</aside>

