<main>
  <header>
    <h1 class="user-show-header"><%= @customer.full_name %></h1>
    <article class="customer-show-address">
      <p><span><%= @customer.full_address %></span></p>
    </article>
  </header>
  <section class="customer-links">
  <%= link_to "Edit Customer", controller: "customers", action: "edit", id: params[:id] %>
  <%= link_to "View History", controller: "customers", action: "history", id: @customer.id %>
  <%= link_to "Create Repair Ticket", controller: "repairs", action: "new", id: @customer.id %>
  <%= link_to 'Back', :back %>
  </section>
  <section class="customer-show-section">
    <article class="user-display-info">
      <h2 class="customer-show-label">Gate Code:</h2>
      <p class="customer-show-info"> <%= @customer.gate_code %></p>
      <h2 class="customer-show-label">Phone Number:</h2>
      <p class="customer-show-info"><a href="tel:<%= @customer.phone %>"><%= @customer.phone %></a></p>
      <h2 class="customer-show-label">Email:</h2>
      <p class="customer-show-info"><a href="mailto:<%= @customer.email %>?subject=Pool Care"> <%= @customer.email %></a></p>
      <h2 class="customer-show-label">Scheduled Days:</h2>
      <p class="customer-show-info"> <%= @customer.print_days %></p>
      <h2 class="customer-show-label">Filter Type:</h2>
      <p class="customer-show-info"> <%= @customer.filter_type %></p>
      <h2 class="customer-show-label">Pump Type:</h2>
      <p class="customer-show-info"><%= @customer.pump_type %></p>
      <h2 class="customer-show-label">Receive Emails:</h2>
      <p class="customer-show-info"><%= @customer.receive_emails %></p>
      <h2 class="customer-show-label">Serviced By</h2>
      <p class="customer-show-info"><%= @customer.user.first_name %></p>
    </article>
    <article class="customer-display-notes">
      <header>
        <h2 class="note-header">Notes</h2>
      </header>
      <article>
        <% if @notes[0] %>
          <ul>
              <% @notes.each do |note| %>
                <li><%= note.description %> - <%= link_to "Delete", note, method: :delete %></li>
              <% end %>
            </ul>
        <% end %>
      </article>
    </article>
  </section>
  <section class="notes-section">
    <header>
        <h2 class="add-note-header">Add Notes</h2>
      </header>
    <%= form_for(@note, :html => { :class => "new-note-form" }) do |f| %>
      <div class="new-note-input">
        <%= f.label :description %><br>
        <%= f.text_area :description %>
        <%= f.hidden_field :customer_id, :value => params[:id] %>
      </div>

      <div>
        <%= f.submit "Submit", :class =>"note-submit" %>
      </div>
    <% end %>
  </section>
</main>
