<main>
  <header class="repair-edit-main-header">
    <div class="center-column"></div>
    <div class="header-filter-container"></div>
    <%= image_tag("Pool-Water.jpg",class: "header-background")  %>
    <h1 class="new-repair-header repair-header-edit">Edit Repair</h1>
    <%= link_to "Delete", {controller: :repairs, action: :destroy, id: params[:id]}, data: {confirm: "Are Your Sure? This Will Permanently Delete The Repair."}, method: :delete, :class =>"trash-button" %>
  </header>
  <section class="new-repair-form relative">
    <% if flash[:notice] %>
      <article class="flash repairs-flash">
        <p class="notice"><%= flash[:notice] %></p>
      </article>  
    <% end %>
    <%= form_for(@repair) do |f| %>
      <div class="repair-title">
        <%= f.text_field :title, :placeholder => "Header*", :autocomplete => :off %>
      </div>
      <div class="repair-textarea">
        <%= f.text_area :description, :placeholder => "Description*", :autocomplete => :off %>
      </div>
      <div class="repair-new-bottom">
        <div class="new-repair-img">
          <%= f.label :photo, "Photo: "%><br>
          <%= f.file_field :photo %>
        </div>
        <div class="new-repair-submit">
          <%= f.submit "Update" %>
          <%= link_to 'Cancel', controller: "repairs", action: "show", id: @repair.id%>
        </div>
      </div>
    <% end %>
  </section>
</main>