<main class="body-background-color">
  <header class="repair-main-header">
    <div class="header-full-filter-container"></div>
    <%= image_tag("Pool-Water.jpg",class: "header-full-background")  %>
    <h1>Repairs</h1>
    <nav class="open-switch">
      <button id="open-repair-switch" class="active-repair-tab">Open Repairs</button>
      <button id="repair-history-switch">Repair History</button>
    </nav>
  </header>
  <section id="open-repairs">
    <article>
      <table class="repair-table" cellspacing="0">
        <thead class="repair-thead">
          <tr>
            <th>Name</th>
            <th>Header</th>
            <th class="repair-small-hide">Creator</th>
            <th>Complete</th>
          </tr>
        </thead>
        <tbody class="repair-tbody">
          <% if @open_repairs[0] %>
            <% @open_repairs.each do |repair| %>
              <tr id="repair-entry-<%= repair.id %>">
                <td><%= link_to repair.customer.full_name, controller: "customers", action: "show", id: repair.customer.id %></td>
                <td><%= link_to repair.title,repair_path(repair) %></td>
                <td class="repair-small-hide"><%= repair.user.first_name %></td>
                <td><%= button_to "Finish", { controller: "repairs", action: "complete", id: repair.id }, :class=> "repair-complete-form", remote: true, data: {confirm: "Are Your Sure?"} %></td>
              </tr>
            <% end %>
          <% else %>
            <tr class="table-empty-container">
              <td class="table-empty">No Open Repairs</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </article>
  </section>
  <section id="finished-repairs">
    <article>
      <table class="repair-table" cellspacing="0">
        <thead class="repair-thead">
          <tr>
            <th>Name</th>
            <th>Header</th>
            <th class="repair-small-hide">Creator</th>
            <th>Completed</th>
          </tr>
        </thead>
        <tbody class="repair-tbody">
          <% if @finished_repairs[0] %>
            <% @finished_repairs.each do |repair| %>
              <tr>
                <td><%= link_to repair.customer.full_name, controller: "customers", action: "show", id: repair.customer.id %></td>
                <td><%= link_to repair.title,repair_path(repair) %></td>
                <td class="repair-small-hide"><%= repair.user.first_name %></td>
                <td><%= repair.print_updated_date %></td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td class="table-empty">You Have No Repais Completed</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </article>
  </section>
</main>
