<main>
  <header class="repair-main-header">
    <h1>Repairs</h1>
    <div class="open-switch">
      <button id="open-repair-switch" class="active-repair-tab">Open Repairs</button>
      <button id="repair-history-switch">Repair History</button>
    </div>
  </header>
  <section id="open-repairs">
    <article>
      <table class="repair-table" cellspacing="0">
        <thead class="repair-thead">
          <tr>
            <th>Name</th>
            <th>Header</th>
            <th>Created By</th>
            <th>Completed</th>
          </tr>
        </thead>
        <tbody class="repair-tbody">
          <% if @open_repairs[0] %>
            <% @open_repairs.each do |repair| %>
              <tr>
                <td><%= link_to repair.customer.full_name, controller: "customers", action: "show", id: repair.customer.id %></td>
                <td><%= link_to repair.title,repair_path(repair) %></td>
                <td><%= repair.user.first_name %></td>
                <td><%= button_to "Complete Visit", { controller: "repairs", action: "complete", id: repair.id }, :class=> "repair-complete-form" %></td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td class="table-empty">No Open Repairs</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </article>
  </section>
  <section id="finished-repairs">
    <article>
      <table class="repair-table" cellspacing="0">
        <thead class="repair-thead">
          <tr>
            <th>Name</th>
            <th>Header</th>
            <th>Created By</th>
            <th>Show Details</th>
          </tr>
        </thead>
        <tbody class="repair-tbody">
          <% if @finished_repairs[0] %>
            <% @finished_repairs.each do |repair| %>
              <tr>
                <td><%= link_to repair.customer.full_name, controller: "customers", action: "show", id: repair.customer.id %></td>
                <td><%= link_to repair.title,repair_path(repair) %></td>
                <td><%= repair.user.first_name %></td>
                <td><%= link_to "Visit Details",repair_path(repair) %></td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td class="table-empty">You Have No Repais Completed</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </article>
  </section>
</main>
