<script>
localStorage.setItem("repairsOpenRepairs", JSON.stringify(<%= raw@open_repairs.to_json %>));
localStorage.setItem("repairsAll", JSON.stringify(<%= raw@repairs.to_json %>));
</script>
<header class="user-profile-header template-header">
  <div class="header-wrapper wrapper max">
    <h1>Repairs</h1>
    <div class="page-options">
      <div class="options-nav">
        <a class="switch master-switch active-switch" id="master-switch">Master</a>
        <a class="switch repair-switch mobile" id="repair-switch">Unfinished</a>
      </div>
      <div class="search-form form desktop">
        <%= form_tag(:controller => "businesses", :action => "show", :method => 'get', :id => 1) do %>
          <%= text_field_tag :search, params[:search], placeholder: 'Enter search term...', class: "search" %>
          <%= button_tag(type: "submit") do %>
            <span><i class='fa fa-search customer'></i></span>
          <% end %>
        <% end %>
      </div>
    </div> 
  </div>
</header>
<div class="dashboard-wrapper flex flex-1 wrapper-max">
  <div class="col col-left flex-2">
    <section class="wrapper-right max pool-lists repairs-list active-list repairs-all">
      <%= render :partial => 'repairs/repair-card-list', :locals => { :repairs => @repairs }  %>
    </section>
    <section class="wrapper-right max pool-lists repairs-list repairs-open-repairs mobile">
      <%= render :partial => 'repairs/repair-card-list', :locals => { :repairs => @open_repairs }  %>
    </section>
  </div>
  <div class="col col-right flex-1 desktop">
    <h2 class="wrapper">Unfinished Repairs</h2>
    <section class="wrapper max pool-lists repairs-list repairs-open-repairs">
      <%= render :partial => 'repairs/repair-card-list', :locals => { :repairs => @open_repairs }  %>
    </section>
  </div>
</div>
<aside id="repair-form" class="wrapper form-slider">  
<%= render :partial => 'repairs/repair_form', :locals => { :repair=> Repair.new, :customer=> Customer.new }  %>
</aside>

