<main>
  <header class="new-repair-main-header">
    <div class="center-column"></div>
    <div class="header-filter-container"></div>
    <%= image_tag("Pool-Water.jpg",class: "header-background")  %>
    <h1 class="new-repair-header">New Repair</h1>
  </header>
  <% if flash[:notice] %>
      <ul>
      <% flash[:notice].each do |message| %>
        <li><%= message%></li>
      <% end %>
    </ul>
  <% end %>
  <section class="new-repair-form">
    <%= form_for(@repair) do |f| %>
      <div class="repair-title">
        <%= f.text_field :title, :placeholder => "Header:", :autocomplete => :off %>
      </div>
      <div class="repair-textarea">
        <%= f.text_area :description, :placeholder => "Description:", :autocomplete => :off %>
      </div>
      <div class="repair-new-bottom">
        <div class="new-repair-img">
          <%= f.label :photo, "Photo: "%><br>
          <%= f.file_field :photo %>
        </div>
          <%= f.hidden_field :customer_id, :value => params[:id] %>
        <div class="new-repair-submit">
          <%= f.submit "Create" %>
          <%= link_to 'Cancel', controller: "customers", action: "show", id: params[:id] %>
        </div>
      </div>
    <% end %>
  </section>
</main>