<main>
  <header class="repair-show-main-header">
    <div class="center-column"></div>
    <div class="header-filter-container"></div>
    <%= image_tag("Pool-Water.jpg",class: "header-background")  %>
    <h1 class="repair-show-header">Repair Details</h1>
    <article class="repair-show-header-section">
      <%= link_to 'Back', :back %>
      <% if @repair.complete == false %>
      <%= link_to "Edit Repair", {controller: "repairs", action: "edit", id: @repair.id }, id: "repair-edit-ajax" %>
      <%= button_to "Close Ticket", { :method => "get", controller: "repairs", action: "complete", id: @repair.id }, remote: true, id: "close-ticket" %>
      <% end %>
    </article>
  </header>
  <section class="repair-show-info">
    <article>
      <h2 class="repair-info-header-section">Details</h2>
      <article class="repair-show-grid">
        <div class="repair-info-col-left">
          <div class="repair-info-center">
            <h3>Customer:</h3>
            <p><%= @repair.customer.first_name %></p>
            <h3>Created By:</h3>
            <p><%= @repair.user.full_name%></p>
          </div>
        </div>
        <div class="repair-info-col-right">
          <div class="repair-info-center">
            <h3>Status: </h3>
            <p><%= @repair.complete ? "Complete": "Incomplete" %></p>
            <% if @repair.complete %>
              <h3>Date Finished: </h3>
              <p><%= @repair.updated_at %></p>
            <% else %>
              <h3>Date Opened: </h3>
              <p><%= @repair.print_date %></p>
            <% end %>
          </div>
        </div>
      </article>
      <article>
        <div>
          <h2 class="repair-description">Description: </h2>
          <p><%= @repair.description %></p>
        </div>
      </article>
    </article>
    <% if @repair.images[0] %>
      <article>
        <header>
          <h2 class="repair-sub-header">Photos of repair</h2>
        </header>
        <article class="repair-img-display">
          <% @repair.images.each do |image| %>
            <div class="repair-img-zoom-container">
              <%= image_tag(image.photo.url, :class => "repair-img") %>
            </div>
          <% end %>
        </article>
      </article>
    <% end %>
  </section>
  <% if @repair.complete == false %>
    <section class="repair-add-photo-section">
      <header>
        <h2 class="repair-sub-header">Add Photo</h2>
      </header>
      <article class="repair-img-form">
        <%= form_for(@image) do |f| %>
          <div class="repair-img-input">
            <%= f.file_field :photo %>
          </div>
            <%= f.hidden_field :repair_id, :value => params[:id] %>
          <div class="repair-img-submit">
            <%= f.submit %>
          </div>
        <% end %>
      </article>
    </section>
  <% end %>
</main>