<!DOCTYPE html>
<html>
  <head>
    <title>PoolApp</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/additional-methods.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/additional-methods.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <%if(session[:user_id] || session[:business_id])%>
    <nav class="nav-container">
      <div class="mob-nav-wrapper mobile flex wrapper-max">
        <button value="mobile-menu-icon" name="mobile-menu-icon" type="mobile-menu-icon" class="mobile-menu-button" tabindex="-1">
          <div id="menu-line-1" class="mobile-menu-line"></div>
          <div id="menu-line-2" class="mobile-menu-line"></div>
          <div id="menu-line-3" class="mobile-menu-line"></div>
        </button>
        




          <div class="search-form form flex-1">

          <%= form_tag(:controller => "businesses", :action => "show", :method => 'get', :id => 1) do %>
            <%= text_field_tag :search, params[:search], placeholder: 'Enter search term...', class: "search" %>
            <%= button_tag(type: "submit", class: "new_post_submit") do %>
              <span><i class='fa fa-search customer'></i></span>
            <% end %>
          <% end %>
        </div>


      
      </div>  
      <div class="nav-wrapper">
        <ul id="nav-main" class="wrapper">
          <% if session[:user_id] || session[:business_id] %>
            <% if session[:user_id] %>
              <% @user = User.find_by_id(session[:user_id] ) %>
              <% @user_business = @user.business %>
              <li>
                <%= link_to "Profile",user_path(@user) %>
              </li>
              <% if @user.admin == true %>
                <li>
                  <%= link_to "Business",business_path(@user_business) %>
                </li>
                <li>
                  <%= link_to "Repairs", {:controller => "repairs", :action=> "index"}, :method => :get %>
                </li>
              <% end %>
            <% elsif session[:business_id] %>
              <% @business = Business.find_by_id(session[:business_id] ) %>
              <li>
                <%= link_to "Business",business_path(@business) %>
              </li>
              <li>
              <%= link_to "Repairs", {:controller => "repairs", :action=> "index"}, :method => :get %>
            </li>
            <% end %>
          <% end %>
        </ul>
        <ul id="nav-user" class="wrapper">
          <% if session[:user_id] || session[:business_id] %>
            <li>
              <%= link_to "Logout", {:controller => "sessions", :action=> "destroy"}, :method => :delete %>
            </li>
          <% else %>
            <li>
              <%= link_to "Sign In", {:controller => "sessions", :action=> "new"}, :method => :get %>
            </li>
          <% end %>
        </ul>
      <div>
    </nav>
    <% end%>
    <main class="flex flex-column">
    <%= yield %>
  </main>
  <footer class="<%= content_for :body_class %>">
    <div class="copy-right">
      <p>&copy;<%= DateTime.now.year %> Pool Server Pro. All Rights Reserved.</p>
    </div>
    
  </footer>
  </body>
</html>
