<!DOCTYPE html>
<html>
  <head>
    <title>PoolApp</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyAW6ePKIDsAFHwI4tsef4mJV6YwltUmL58"></script>
      <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
      <script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'>
      </script> <!-- only if you need custom infoboxes -->
  </head>
  <body>
    <nav class="nav-container">
      <ul id="nav-main">
        <% if session[:user_id] || session[:business_id] %>
          <% if session[:user_id] %>
            <% @user = User.find_by_id(session[:user_id] ) %>
            <% @user_business = @user.business %>
            <li>
              <%= link_to "Profile",user_path(@user) %>
            </li>
            <% if @user.admin == true %>
              <li>
                <%= link_to "Business",business_path(@user_business) %>
              </li>
              <li>
                <%= link_to "Repairs", {:controller => "repairs", :action=> "index"}, :method => :get %>
              </li>
            <% end %>
          <% elsif session[:business_id] %>
            <% @business = Business.find_by_id(session[:business_id] ) %>
            <li>
              <%= link_to "Business",business_path(@business) %>
            </li>
            <li>
            <%= link_to "Repairs", {:controller => "repairs", :action=> "index"}, :method => :get %>
          </li>
          <% end %>
        <% end %>
      </ul>
      <ul id="nav-user">
        <% if session[:user_id] || session[:business_id] %>
          <li>
            <%= link_to "Logout", {:controller => "sessions", :action=> "destroy"}, :method => :delete %>
          </li>
        <% else %>
          <li>
            <%= link_to "Sign In", {:controller => "sessions", :action=> "new"}, :method => :get %>
          </li>
        <% end %>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
